html {
  font-size: 16px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:root {
  --grey: rgba(128, 128, 128, 0.2);
}
body {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root {
  flex: 1;
  width: 100%;
}

h1 { font-size: 2.25rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
p { font-size: 1.5rem; }
button { font-size: 1.35rem; }
li { font-size: 1.15rem; }

h1, h2, h3, p, button, li {
  font-family: futura, helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: .15rem .25rem;
  background-color: none;
}
/* Button styles. ----------------------------------- */
 button {
   background-color: dodgerblue;
   border-radius: .625rem;
   box-shadow: .0625rem .15rem;
 }
 button:hover {
   background-color: blue;
   color: white;
   cursor: pointer;
 }
/* Header section styles.---------------------------- */
.header {
  width: 100%;
  margin-bottom: .3rem;
  background-color: var(--grey);
  border-bottom: .25rem solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header * {
  margin-bottom: .5rem;
}
.titleStyle {
  color: red;
  text-shadow: .07rem 0rem black, 0rem .07rem black, -.07rem 0rem black, 0rem -.07rem black;
}
.rulesContainer {
  width: 90%;
  background-color: white;
  border: .25rem solid black;
  padding-bottom: .75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rulesContainer * {
  margin-bottom: .25rem;
  margin-top: 0;
}
.rulesContainer h2 {
  text-decoration: underline;
}
.rulesItem {
  text-align: left;
  margin-bottom: .15rem;
}
.scoresContainer p {
  font-size: 1.15rem;
}
.scoresPair {
  display: flex;
  align-items: center;
  align-content: space-between;
  border-bottom: .15rem solid black;
}
.scoresItem {
  min-width: 5.82rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scoresImageDiv {
  width: 3.125rem;
  height: 2.5rem;
}
/* Game area styles.---------------------------------- */
.messagePara {
  width: 90%;
}
.gameArea {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sideContainer {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divider {
  width: .25rem;
  height: 12.5rem;
  background-color: black;
}
.sideContainer h3 {
  text-decoration: underline;
}
.imageContainer {
  width: 18.75rem;
  height: 12.5rem;
}
/* Spinner div image ------------------------------------ */
.spinner {
  width: 12.5rem;
  height: 12.5rem;
  border: .75rem solid var(--grey);
  border-top: .75rem solid red;
  border-bottom: .75rem solid red;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Player buttons sections ------------------------------ */
.playerButtonsContainer {
  width: 100%;
  margin-top: .5rem;
  padding-top: .5rem;
  color: red;
  border-top: .25rem solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bestOutOfContainer, .startAndResetContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bestOutOfButtons, .startAndResetButtons {
  width: 90%;
  padding: .15rem;
  display: flex;
  justify-content: space-evenly;
}
.bestOutOfButtons button, .startAndResetButtons button {
  min-width: 45%;
}
/* The hide class -------------------------------------*/
.hide {
  display: none;
}
/* Hand images.--------------------------------------- */
.images {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.player_thumbsUp { background-image: url("../public/images/player_thumbsUp.JPG"); }
.player_rock { background-image: url("../public/images/player_rock.JPG"); }
.player_paper { background-image: url("../public/images/player_paper.JPG"); }
.player_scissors { background-image: url("../public/images/player_scissors.JPG"); }

.computer_thumbsUp { background-image: url("../public/images/computer_thumbsUp.JPG"); }
.computer_rock { background-image: url("../public/images/computer_rock.JPG"); }
.computer_paper { background-image: url("../public/images/computer_paper.JPG"); }
.computer_scissors { background-image: url("../public/images/computer_scissors.JPG"); }

/* Font size queries.-------------------------------- */
@media screen and (max-width: 850px){
  html { font-size: 12px; }
}
@media screen and (max-width: 650px){
  body { width: 85%; }
  .gameArea { 
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
   }
   .messagePara {margin-top: 1rem; }
}
@media screen and (max-width: 550px){
  html { font-size: 10px; }
}
@media screen and (max-width: 450px){
  .gameArea {
    flex-direction: column;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
  }
  .messagePara { margin-top: .5rem; }
  .sideContainer { width: 80%; }
  .divider {
    height: .25rem;
    width: 90%;
    margin: .25rem auto;
  }
}
@media screen and (max-width: 380px){
  body { width: 95%; }
  h1 { font-size: 2.75rem; }
  h2, h3, p, button { font-size: 2rem; }
  button, .sideContainer h3, .messagePara { 
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  li { font-size: 1.6rem; }
  .header button { width: 45%; }
  .imageContainer {
    width: 23.4375rem;
    height: 15.625rem;
  }
  .divider {
    margin: .5rem auto;
  }
}

