html {
  font-size: 16px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:root {
  --grey: rgba(128, 128, 128, 0.2);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 { font-size: 4rem; }
h2 { font-size: 1.75rem; }
p { font-size: 2rem; }
button { font-size: 1.5rem; }
li { font-size: 1.5rem; }

h1, h2, p, button, li {
  font-family: futura, helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: .25rem;
  background-color: none;
}
/* Button styles. ----------------------------------- */
 button {
   background-color: dodgerblue;
   border-radius: 10px;
   box-shadow: 1px 4px;
 }
 button:hover {
   background-color: blue;
   color: white;
   cursor: pointer;
 }
/* Header section styles.---------------------------- */
.header {
  width: 100%;
  margin-bottom: 1rem;
  background-color: var(--grey);
  border-bottom: .25rem solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header * {
  margin-bottom: .5rem;
}
.titleStyle {
  color: red;
  text-shadow: 2px 0px black, 0px 2px black, -1px 0px black, 0px -1px black;
}
.rulesContainer {
  width: 90%;
  background-color: white;
  border: .25rem solid black;
  padding-bottom: .75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rulesContainer * {
  margin-bottom: .25rem;
  margin-top: 0;
}
.rulesContainer h2 {
  text-decoration: underline;
}
.rulesItem {
  text-align: left;
  margin-bottom: .15rem;
}
.scoresContainer p {
  font-size: 1.5rem;
}
.scoresPair {
  display: flex;
  align-items: center;
  align-content: space-between;
  border-bottom: .15rem solid black;
}
.scoresItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 93px;
}
.scoresImageDiv {
  width: 50px;
  height: 40px;
}
/* Game area styles.---------------------------------- */
.messagePara {
  margin-bottom: .5rem;
}
.gameArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-content: space-between; */
  width: 100%;
  border: .25rem solid red;
}
.sideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
  border: .25rem solid blue;
}
.divider {
  height: 200px;
  width: .75%;
  background-color: black;
  /* border-right: .25rem solid black; */
}
.sideContainer h2 {
  text-decoration: underline;
}
.imageContainer {
  width: 300px;
  height: 200px;
}
/* Spinner div image ------------------------------------ */
.spinner {
  width: 200px;
  height: 200px;
  border: 1rem solid var(--grey);
  border-top: 1rem solid red;
  border-bottom: 1rem solid red;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Player buttons sections ------------------------------ */
.playerButtonsContainer {
  width: 100%;
  margin-top: 1rem;
  padding-top: 1rem;
  color: red;
  border-top: .25rem solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bestOutOfContainer, .startAndResetContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bestOutOfButtons, .startAndResetButtons {
  width: 90%;
  padding: .15rem;
  display: flex;
  justify-content: space-evenly;
}
.bestOutOfButtons button, .startAndResetButtons button {
  min-width: 45%;
}

/* The hide class; used for hiding elements. -----------*/
.hide {
  display: none;
}

/* Hand images.--------------------------------------- */
.images {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.player_thumbsUp { background-image: url("../public/images/player_thumbsUp.JPG"); }
.player_rock { background-image: url("../public/images/player_rock.JPG"); }
.player_paper { background-image: url("../public/images/player_paper.JPG"); }
.player_scissors { background-image: url("../public/images/player_scissors.JPG"); }

.computer_thumbsUp { background-image: url("../public/images/computer_thumbsUp.JPG"); }
.computer_rock { background-image: url("../public/images/computer_rock.JPG"); }
.computer_paper { background-image: url("../public/images/computer_paper.JPG"); }
.computer_scissors { background-image: url("../public/images/computer_scissors.JPG"); }

/* Font size queries.-------------------------------- */
@media screen and (max-width: 850px){
  html { font-size: 12px; }
}
@media screen and (max-width: 650px){
  html { font-size: 8px; }
}
/* Rules images and general buttons query. -------------- */
@media screen and (max-width: 650px){
  .scoresItem {
    min-width: 24px;
  }
  .scoresImageDiv {
    width: 20px;
    height: 15px;
  }
  button {
    border-radius: 4px;
    box-shadow: .65px 2px;
  }
}
/* Game area media queries.--------------------------------- */
@media screen and (max-width: 920px){
  .imageContainer {
    width: 250px;
    height: 150px;
  }
  .spinner {
    width: 150px;
    height: 150px;
  }
  h2 { font-size: 1.5rem; }
}
/* @media screen and (max-width: 650px){
  .gameArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  }
  .sideContainerOne, .sideContainerTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
  }
  .sideContainerOne{
    border-right: none;
    border-bottom: .25rem solid black;
    padding-bottom: .5rem;
  }
} */
@media screen and (max-width: 500px){
  .imageContainer {
    width: 130px;
    height: 90px;
  }
  .spinner {
    width: 90px;
    height: 90px;
  }
}
/* Player buttons media queries--------------------------- */
@media screen and (max-width: 650px){

  .bestOutOfButtons, .startAndResetButtons {
    display: flex;
    width: 70%;
  }
  .bestOutOfButtons button, .startAndResetButtons button {
    min-width: 35%;
  }
}
@media screen and (max-width: 500px){

  .bestOutOfButtons, .startAndResetButtons {
    display: flex;
    width: 80%;
  }
  .bestOutOfButtons button, .startAndResetButtons button {
    min-width: 45%;
  }
}
